.fff1{
    margin: 50px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.fff2{
    margin: 50px;
    width: 400px;
    height: 200px;
    border: 2px solid black;
}

@media (max-width: 500px) {
    .fff1{
display: block;
    }

    .fff2{
        display: none;
    }
}

@media (min-width: 500px) {
    .fff2{
        display: block;
    }

    .fff1{
        display: none;
    }
}



