body {
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: -1px;
}

loadscreen {
    opacity: 1;
    animation: load_page 5s forwards;

}

loader {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-right: auto;
    opacity: 1;
    animation: unload_loader 6s forwards;
}

loader img {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
}


@keyframes load_page {
    from {

        opacity: 0;


    }

    to {

        opacity: 1;


    }
}

@keyframes unload_loader {
    from {

        opacity: 1;

    }

    to {

        opacity: 0;
    }
}


nav {
    background-color: #2A3E51;
    height: 61px;
    width: 100%;
    position: fixed;
    z-index: 2;
}


.logo {
    color: white;
    font-size: 28px;
    line-height: 61px;
    float: left;
    animation: visible 2s ease;

}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.menu {
    float: left;

}

.menu li {
    float: left;
    line-height: 61px;
    margin-left: 40px;
    animation: menu_jump ease 0.4s forwards;
    opacity: 0;

}


.menu li:nth-child(2) {
    animation-delay: 0.4s;
}

.menu li:nth-child(3) {
    animation-delay: 0.8s;
}

.menu li:nth-child(4) {
    animation-delay: 1.2s;
}

.menu li:nth-child(5) {
    animation-delay: 1.6s;
}

.menu li:nth-child(6) {
    animation-delay: 2s;
}

@keyframes menu_jump {
    from {
        opacity: 0;
        margin-top: -80px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}


.menu li a {
    color: white;
    transition: all 0.1s;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.main {
    width: 100%;
    height: 100%;
    background: url("../img/shadow_1.png") 10% 99.9%/auto no-repeat, url("../img/People.png") 90% 100%/auto 85% no-repeat, url("../img/main_1.png") center/cover no-repeat;

}

.menu li a:visited {
    color: #FFFFFF;
}

.menu li a:hover {
    color: #ff9708;
}

.menu li a:active {
    transform: scale(1.1);
}


/** Первый блок **/
.welcome__container {
    float: left;

    color: #2c384a;
    text-align: center;
    animation: moveds 1s forwards;
    animation-delay: 2.4s;
    opacity: 0;

}

@keyframes moveds {
    from {
        opacity: 0;
        margin-left: -600px;
    }
    to {
        opacity: 1;
        margin-left: 0px;
    }

}

.welcome__container > h1 {
    font-size: 84px;
    font-weight: bold;
}

.welcome__container > h4 {
    margin-top: 23px;
    font-size: 21px;
    font-weight: bold;
    color: #79818D;
}

.welcome__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 47px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.welcome__container input:hover {
    background: #2A3E51;
    color: #FFFFFF;
}

.welcome__container input:active {
    transform: scale(1.1);
}

.h_line {
    font-family: 'Franklin Gothic Medium', sans-serif;
    letter-spacing: -2px;
    font-size: 34px;
    line-height: 30px;
    text-transform: uppercase;
}

.h_text {
    font-family: 'Franklin Gothic Medium', sans-serif;
    letter-spacing: -3px;
    font-size: 46px;
    line-height: 52px;
    color: #1C2534;
    font-weight: 400;

}

.h_line::after {
    content: "";
    display: block;
    width: 72px;
    height: 4px;
    background: #EA7800;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -1px;
    color: #FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

.about a {
    display: table;
    text-align: center;
    border: 2px solid #6d7682;
    background: url("../img/downloadICO.png") no-repeat 10%;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 35px 14px 14px 892px;
    padding: 7px 9px 7px 36px;
}

.about span {
    font-family: 'Calibri';
}

.about a:hover {
    display: table;
    text-align: center;
    border: 2px solid #6d7682;
    background: url("../img/downloadICO_white.png") no-repeat 10%, #2A3E51;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    margin: 35px 14px 14px 892px;
    padding: 7px 9px 7px 36px;
    transition: all 0.1s;
    transform: scale(1);
}

.about a:active {
    transform: scale(1.1);
}

#mobile_navbar .navbar-brand {
    color: white;
    font-size: 28px;
}

.bg-custom-blue {
    --bs-bg-opacity: 1;
    background-color: #2A3E51;
}

.skils > .container_fluid {

    background: url("../img/third_block_backgroung.png") no-repeat fixed center;
    background-size: cover;
}

.skills_item {
    width: 216px;
    transition: 0.2s all;
    transform: scale(1);
}

.skills_item:hover {
    transform: scale(1.1);
}


.skills_item h3 {
    text-align: center;
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    color: #CF7600;

}

.skills_item p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: center;
    color: #3F495A;
    margin-top: 18px;
}

.skills_icon {
    margin: 44px auto 30px;
    display: block;

}

@media (min-width: 992px) {
    .lg-block {
        display: block;
    }
}

@media (max-width: 992px) {
    .lg-block {
        display: none !important;
    }
}

.cases p{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size: 25px;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #384354;
}

.cases .col-md-8 span{
    font-family: 'Calibri';
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -1.25px;
    color: #3F495A;
}

.cases .col-md-8 p{
margin-bottom: 8px;

}

.cases .col-md-3 a {
    display: table;
    margin-top: 15px;
    background: #63B5AE;
    padding: 11px 43px 12px 43px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: -1.25px;
    text-transform: uppercase;
    transition: all 0.2s;
    transform: scale(1);
}

.cases .col-md-3 span{
    font-family: 'Calibri';

}

.cases .col-md-3 a:active {
    transform: scale(1.1);
}




.calc h4 {
    font-style: normal;

    font-size: 29px;
    line-height: 33px;
    color: #1C2534;
    margin: 22px 0px 37px 0px;
    text-transform: uppercase;
    font-weight: 600;
}

.calc .type__list__site {
    width: 100%;
    height: 57px;
    padding: 19px 0px 19px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    appearance: none;
    color: #737373;
    background: #EEEEEE url('../img/down.png') no-repeat 98% 60%;
}
.gray_line {
    background: #EEEEEE;
    height: 2px;
    margin: 36px 0px 15px 0px;
}

.calc p{
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.416667px;
    font-weight: 600;
    color: #1C2534;
}

.statistics {

    background: url("../img/static_background.png") no-repeat fixed center;
    background-size: cover;
}

.statistics_item {
    width: 216px;
    transition: 0.2s all;
    transform: scale(1);
}

.statistics_item:hover{
    transform: scale(1.1);
}

.statistics h3 {
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37.5px;
    line-height: 20px;
    color: #323E4F;
}

.statistics p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #3F495A;
    margin-top: 32px;
    letter-spacing: -1px;
}

.statistics_icon {
    margin: 44px auto 30px;
    display: block;
}

.review p{
    font-family: 'Calibri';
    letter-spacing: -1px;
    font-size: 17px;
    line-height: 21px;
}

.orange_slider_dot {
    display: flex;
    justify-content: center;

}

.nav_dot {
    background: url("../img/gray_dot.png") center/auto no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 14px;
}

.orange_slider_dot .active {
    background: url("../img/orange_dot.png") center/auto no-repeat;
    width: 10px;
    height: 10px;
    margin-right: 14px;
}

.contacts {
    background: url("../img/contact.png") no-repeat center;
    background-size: cover;
}

.h_line_light{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 30px;
    color: #FFFFFF;
    letter-spacing: -2px;
}

.h_text_h4{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    letter-spacing: -1.25px;
}

.contacts p{
    font-family: 'Calibri', sans-serif;
    letter-spacing: -1px;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}


.contact_icon {
    margin: auto;
    display: block;

}

.contact_description {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-top: 7px;
    text-align: center;
}

.contact__form {
    width: 732px;
    margin-left: 595px;
}

.contact__form h4 {
    display: block;
    font-weight: 200;
    font-size: 22px;
    line-height: 30px;
    margin: 60px 0px 30px 240px;
    letter-spacing: -1.25px;
    color: #FFFFFF;
}

.contacts textarea {
    width: 100%;
    height: 94px;
    background: rgba(238, 238, 238, 0.85);
    mix-blend-mode: screen;
    letter-spacing: -1px;
    font-size: 17px;
    padding-left: 12px;
    padding-top: 3px;
}

.form_array {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.contacts button {
    font-weight: 100;
    font-size: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #5D5D5E;

}




.contacts button {
    color: white;
}

.form_array .name {
    background: rgba(238, 238, 238, 0.85);
    width: 352px;
    mix-blend-mode: screen;
    margin-right: 28px;
    height: 34px;
}

.form_array .email {
    background: rgba(238, 238, 238, 0.85);
    width: 352px;
    mix-blend-mode: screen;
    height: 34px;
}

.sent {
    text-align: center;
    border: 2px solid #F9FAFF;
    background: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 21px;
    padding: 10px 19px 10px 19px;
    margin-top: 28px;
    transition: all 0.2s;
    transform: scale(1);

}


.sent:active {
    transform: scale(1.1);
}

.contacts i{
    font-size: 32px;
    transition: 0.2s all;
    transform: scale(1);
}


.contacts i:hover{
    transform: scale(1.1);
}

.contacts_item{
    transition: 0.2s all;
    transform: scale(1);
}

.contacts_item:hover{
    transform: scale(1.1);
}

.map {
    background: url("../img/maps.png") center/auto no-repeat;
    height: 351px;
}

footer {
    height: 90px;
    background: #2A3E51;
}

footer p {
    color: white;
    font-family: 'ArialMT', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    align-items: center;
    letter-spacing: -1.25px;
    line-height: 90px;
}

.contacts .h_line_light{
    padding-top: 101px;
}



