body {
    font-family: 'Franklin Gothic Medium', sans-serif;
}

nav {
    background-color: #2A3E51;
    height: 61px;
    width: 100%;
}


.logo {
    color: white;
    font-size: 28px;
    line-height: 61px;
    margin-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 430px;
}

.menu li {
    float: left;
    line-height: 61px;
    margin-left: 40px;
}

.menu li a {
    color: white;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url("../img/shadow_1.png") 10% 99.9%/auto no-repeat, url("../img/People.png") 90% 100%/auto 85% no-repeat, url("../img/main_1.png") center/cover no-repeat;

}

/** Первый блок **/
.welcome__container {
    float: left;
    margin: 423px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.welcome__container > h1 {
    font-size: 84px;
    font-weight: bold;
}

.welcome__container > h4 {
    margin-top: 23px;
    font-size: 21px;
    font-weight: bold;
    color: #79818D;
}

.welcome__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 47px 14px 0px 14px;
}

/** Второй блок **/

.about__container {
    margin: 98px 0px 98px 0px;
}

h4.title_block {
    color: #263244;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
}

.about__container p {
    font-family: 'Calibri', sans-serif;

    font-size: 17px;
    margin-left: 579px;
    width: 763px;
    font-style: normal;
    font-weight: 400;
}

.orange_line {
    background: #EA7800;
    width: 72px;
    height: 4px;
    margin-left: 920px;
    margin-top: 20px;
}

.mini_photo {
    margin: 44px auto 38px;
    display: block;
}

.about__container a {
    display: inline-block;
    text-align: center;
    border: 2px solid #6d7682;
    background: url("../img/downloadICO.png") no-repeat 10%;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 35px 14px 14px 892px;
    padding: 7px 9px 7px 36px;

}

/** Третий блок **/

.skills {
    background: url("../img/third_block_backgroung.png") center/auto no-repeat;
    padding: 101px 0px 75px 0px;
    height: 523px;

}

.skills_array {
    float: left;
    position: sticky;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-55%, 25%);

}

.skills_item {
    float: left;
    width: 216px;
}

.skills_item h3 {
    text-align: center;
    font-family: 'Bahnschrift', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    color: #CF7600;

}

.skills_item p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
    text-align: center;
    color: #3F495A;
    margin-top: 18px;
}

.skills_icon {
    margin: 44px auto 30px;
    display: block;

}

/** Четвертый блок **/

.portfolio_container {
    margin: 101px 0px 150px 0px;
}

.portfolio_container > p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -1px;
    margin-top: 63px;
    margin-left: 605px;
}

.portfolio_container img {

    margin: 38px 0px 37px 389px;
}

.portfolio_container .description {

    width: 1170px;
    margin: 39px 0px 0px 389px;
}

.portfolio_container .description_left {

    display: inline-block;
    margin-right: 84px;
}

.portfolio_container .description_left h3 {
    font-family: 'Franklin Gothic Medium', sans-serif;
    text-transform: uppercase;
    color: #384354;
    letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
}

.portfolio_container .description_left p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -1px;
    color: #3F495A;
    margin: 7px 0px 7px 0px;
}

.portfolio_container .description_left a {
    display: inline-block;
    margin-top: 15px;
    background: #63B5AE;
    padding: 11px 43px 12px 43px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: -1.25px;
    text-transform: uppercase;
}

.portfolio_container .description_right {
    display: inline-block;
    width: 859px;
    position: absolute;
}

.portfolio_container .description_right h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    letter-spacing: -1.5px;
    color: #384354;
}

.portfolio_container .description_right p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -1.25px;
    color: #3F495A;
    margin-top: 8px;
}

/** Пятый блок **/

.calc {
    margin: 5px 0px 150px 0px;
}

.calc__container {
    width: 891px;
    margin-left: 571px;
}

.calc__container h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: -3px;
    color: #1C2534;
    margin-left: 218px;
    margin-bottom: 65px;
}

.calc__container h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 33px;
    color: #1C2534;
    margin: 22px 0px 37px 0px;
}

.calc__container .type__list__site {
    width: 891px;
    height: 57px;
    padding: 19px 0px 19px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    appearance: none;
    color: #737373;
    background: #EEEEEE url('../img/down.png') no-repeat 98% 60%;
}

.type__list__value {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    margin-left: 24px;
    border-radius: 0;
}

.gray_line {
    background: #EEEEEE;
    height: 2px;
    margin: 36px 0px 15px 0px;
}

.calc__footer {
    width: 891px;
}

.calc__footer .days {
    display: inline-flex;
    width: 100%;
    justify-content: space-between

}

.calc__footer .price {
    display: flex;

}

.calc__footer .days {
    display: flex;

}


.calc__footer .title {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    width: auto;
    flex-grow: 1;
    color: #1C2534;

}

.calc__footer .count {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #1C2534;
}

/** Шестой блок **/

.statistics{
    background: url("../img/static_background.png") center/auto no-repeat;
    padding: 101px 0px 75px 0px;
    height: 523px;
}

.statistics_array{
    float: left;
    position: sticky;
    display: block;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-55%, 25%);
}

.statistics_item {
    float: left;
    width: 216px;
}

.statistics h3 {
    text-align: center;
    font-family: 'Impact', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37.5px;
    line-height: 20px;
    color: #323E4F;

}

.statistics p {
    font-family: 'Calibri', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    color: #3F495A;
    margin-top: 32px;
}

.statistics_icon {
    margin: 44px auto 30px;
    display: block;

}
